.watch_navbar{
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 1;
    box-shadow:  0 1px 3px 0 var(--boxShadow-color);
}
.watch_aside{
    flex: 1;
    border-right: 1px solid var(--border-color);
    height: 87vh;
}
.watch_main{
    flex: 5;
}
.watchlaterContainer{
    gap: 3rem;
}